@charset "utf-8";
/* Catalogue New */
/*New catalog*/
 
#catalog-v2 .bgTint {background-color: #5ead6f!important;}

.socials {
    width: 50%;
}
body.partner h1 {
    padding-top: 11rem;
}
body.partner .block.block-page.breadcrumb-nav {
    position: relative;
    bottom: 26rem;
}

html {scroll-behavior:smooth}

.article-content figure img {
    width: auto;
}
.article-content table tbody tr:nth-child(odd) {
    background-color: #fff;
}
.article-content figcaption {
    display: none;
}
.article-content table td {
    border: 0px solid #e3e9ea;
}
.EmbedWidgetWrapper {
    max-width: 1200px;
}
.EmbedWidgetWrapper .EmbedWidgetWrapper-wrapper .EmbedWidgetWrapper-title h2 {
    color: #18274e;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
}
.EmbedWidgetWrapper .EmbedWidgetWrapper-wrapper .EmbedWidgetWrapper-action .EmbedWidgetWrapper-btn {
    margin: 30000px auto auto;
    width: 200px;
    background: #5ead6f;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    font-family: attractivecond,sans-serif;
    text-transform: uppercase;
    border-radius: 30px;
    line-height: 1.23;
    letter-spacing: .03rem;
}
