@charset "utf-8";
/* Catalogue New */
/*New catalog*/
 
#catalog-v2 .bgTint {background-color: #5ead6f!important;}

.socials {
    width: 50%;
}
body.partner h1 {
    padding-top: 11rem;
}
body.partner .block.block-page.breadcrumb-nav {
    position: relative;
    bottom: 26rem;
}

html {scroll-behavior:smooth}

.article-content figure img {
    width: auto;
}
.article-content table tbody tr:nth-child(odd) {
    background-color: #fff;
}
.article-content figcaption {
    display: none;
}
