@charset "utf-8";
/* Catalogue New */
/*New catalog*/
 
#catalog-v2 .bgTint {background-color: #5ead6f!important;}

.socials {
    width: 50%;
}
.partner h1 {
    padding-top: 11rem;
}
.partner .block.block-page.breadcrumb-nav {
    position: relative;
    bottom: 26rem;
}
